.home-link{
    color:#000000!important;
    font-weight: bold;
}
.signup-btn {
    color:#fff !important;
    background-color:#e70c60 !important;
    border-radius: 21px 20px 20px 18px !important;
    padding:3% !important;
    width:8rem !important;
 
}